*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
 }
 
 html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;
    font-family: poppins, sans-serif;
 }

 ul {
   list-style: none;
 }

 a {
   text-decoration: none;
 }
 
 *::selection{
    background-color: var(--main-color);
    color: var(--white);
 }
 
 *::-webkit-scrollbar{
    height: .5rem;
    width: 1rem;
 }
 
 *::-webkit-scrollbar-track{
    background-color: transparent;
 }
 
 *::-webkit-scrollbar-thumb{
    background-color: var(--black);
 }

 .container {
   margin: 0 auto;
   padding: 0 5rem;
 }
 
 .btn{
   display: inline-block;
   border-radius: 3rem;
   transition: .2s linear;
   background-color: wheat;
   padding: .55rem 2rem;
   font-size: 1.2rem;
   cursor: pointer;
}

.light-btn {
   background-color: transparent;
   color: #333;
   border: 1px solid #000;
}

.dark-btn {
   background-color: #333;
   color: #fff;
   border: 1px solid #000;
}

.header {
   background-color: white;
   padding: 1rem 0;
   box-shadow: 0 10px 8px rgba(0,0,0,0.1);
}

.navigations {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logo {
   font-size: 1.5rem;
   font-weight: bold;
   text-transform: uppercase;
}

.nav-links {
   display: flex;
   margin: 0 10px;
}

.nav-links li {
   margin: 0 14px;
   font-size: 1.2rem;
}

.cta button {
   margin: 0 8px;
}

.home-container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}


















@media (max-width: 768px) {
   .nav-links,
   .cta {
      display: none;
   }

   .container {
      padding: 0 1rem;
   }
}